<h3><%= t('.title') %></h3>

<%= render 'form', railway_station: @railway_station %>

<%= link_to t('common.show'), admin_railway_station_path(@railway_station), class: 'btn btn-primary' %> |
<%= link_to t('common.back'), admin_railway_stations_path, class: 'btn btn-primary' %>
