<h1>Билеты</h1>

<table>
  <thead>
    <tr>
      <th>Поезд</th>
      <th>Маршрут</th>
      <th>Фамилия</th>
      <th>Покупатель</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @tickets %>
  </tbody>
</table>

<br>

<%= link_to 'Назад', search_path %>
